*.sdf
DanceClub/DanceClub.sln
*.vcxproj
DanceClub/DanceClub/DanceClub.vcxproj.user
*.ipch
DanceClub/DanceClub/DanceClub.vcxproj.filters
*.suo
*.tlog
*.manifest
*.log
*.pdb
*.exe
*.ilk
*.obj
*.idb
*.rc
*.cache
*.lastbuildstate
*.res
*.opensdf
*.unsuccessfulbuild
*.filters
DisneyWorld/DisneyWorld/DisneyWorld.vcxproj.user
*.sln
Tal_Ron_and_Ido_Wald.rar
forExam/forExam/mainer.cpp